---
layout: base
title: About - Marc Richardson
description: Learn more about Marc Richardson's background in data science and public policy
---

<div class="about-page-container">
    <div class="flex column center about-header">
        <img id="header-img" src="{{ '/images/IMG_0755.jpeg' | url }}" alt="A picture from the top of Keystone Ski Resort in Colorado">
        <div class="header-name">About me</div>
    </div>
    
    <div id="about-text">
        <p>I am a graduate student at the Harris School of Public Policy seeking to expand my data analytical skills with coursework in computer science, statistics, and economics. I strive to become a leader in technology policy, helping to create and implement evidence-based policies, in collaboration with the government and the private sector, to ensure disruptive new technologies indiscriminately serve the public interest.</p>
        
        <p>I grew up in Colorado, a place very near and dear to my heart. I attended the College of William and Mary where I majored in Economics and International Relations. I moved up to DC after graduating to work for an economic consulting company, where I applied statistical and economic analysis to antitrust and intellectual property cases. My work primarily consisted of consulting on cases involving patent infringement in smartphones. It was through this work that I became interested in technology policy and the societal implications of how technology is used at large.</p>
        
        <p>I currently reside in Chicago for my graduate program. But, I spend a lot of time in Colorado, where most of my family lives. Nothing energizes me more than a beautiful day of skiing or hiking. Outdoors rock!</p>
    </div>
    
    <div class="about-nav">
        <button>
            <a href="{{ '/' | url }}">back</a>
        </button>
    </div>
</div>